APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=America/Fortaleza

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=erp_saude
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha_segura
DB_CHARSET=utf8mb4

ADMIN_EMAIL=seu_email@clinica.local
ADMIN_PASS=sua_senha_segura
